.element.style{
  color:black;
}
.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 97vw;
    gap: 1em;
  }
  .container button{
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }
  .upper{
        display: flex;
            justify-content: center;
    justify-items: stretch;
height:25%;
padding: 1em;
gap: 1em;

  }
  .author{
   padding: 1px;
  width: 60%;
      }
  /* Scrollbar for WebKit browsers */
.author::-webkit-scrollbar {
  width: 10px;
}

.author::-webkit-scrollbar-track {
  background-color: #0a1b52;
  border-radius: 10px;
}
.author::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  max-height: 5px; /* Minimum height of the scrollbar thumb */
}

.author::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
 
 
  .actor{
    justify-content: space-evenly;
  align-items: center;
    background-color:transparent;
    height: 90%;
    width: 33%;
  }
  .genre{
    display: flex;
    justify-content: space-evenly;
  align-items: center;
    background-color:#091a35;
    height: 90%;
    width: 33%;
  }
  .down{
    display: flex;
flex:1;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(191, 219, 254);
    color: white;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px); /* Adjust based on button height */
    overflow: hidden;
  }
  
  .content > div {
    flex: 1;
    overflow: auto;
  }
  
  .expanded {
    height: 100%;
  }
  
  .collapsed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .expanded-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .expanded-button:hover {
    background-color: #0056b3;
  }
  